doctype html
html
  head
    include includes/head.jade
  body
  header 
    .container-narrow
           .masthead
             ul(class="nav nav-pills pull-right")
               li
                 a(href="/") Home
               li
                 a(href="/inscription") Inscription
               li
                 a(href="/Amis") Amis 
   h1 Merci 
     b #{username} 
     pour votre inscription.
