extends layout

block content
  .recherche
    input(type="text",class="recherche", id="Recherche", value="Rechercher Twitt")
    input(type="submit",class="recherche", value="Rechercher")
  <br>
  h1= title 
  h2 Bienvenue 
    b Chasseur de L'Arche
    <br><br><br><br>
  p Tweett à envoyer<br>
  textarea(id="tw_p" placeholder="Tweet" rows="6" cols="50" maxlength="150" required)
  button(onclick="tweett_post()") Envoyer
  p <br>Vos tweets :<br>
  #tweets
  <br><br>
  


 
 



