extends layout

block content 
  h1= title 
  h2 Welcome to #{title} <br> ........................<br><br><br><br>
  p Tweett à envoyer<br>
  textarea(id="tw_p" placeholder="Tweets" rows="6" cols="50" maxlength="150")
  button(onclick="tweett_post()") Envoyer
  p <br>Vos tweets<br>
  p#tweets
  


 
 



