doctype html
html
  head
    include includes/head.jade
  body
  header 
    .container-narrow
           .masthead
             ul(class="nav nav-pills pull-right")
               li
                 a(href="/") Home
               li
                 a(href="/inscription") Inscription
               li
                 a(href="/Amis") Amis 
  h1 Tu es une 
    b BRUTASSE 
    et tu veux t'inscrire sur LE réseau social de Pandore ???<br> Tu es au bon endroit !!! <br><br>
  form(id="inscription" action="/c_inscription" method="post" onSubmit="return verifie_password(this.passw,this.cpassw)")
    p Username :
    input(type="text" id="username" name="username" required)
    p Mot de passe :
    input(type="password" id="passw" name="passw" oninput="bon_mot_de_passe(this.passw)" required)
    p Confirmer mot de passe :
    input(type="password" id="cpassw" name="cpassw" required)
    p Quel perso preferes-tu ?
    select(name="perso_p" required)
       option Le Beau Jack
       option Roland
       option MR TORGUE
       option Lilith
    input(type="submit" value="S'incrire")
    #good_passw 
   
