doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
       input(type="text",class="recherche", name="Recherche", value="Rechercher Twitt")
       input(type="submit",class="recherche", value="Rechercher")
    block content
    footer
       div Voici un lien vers : 
       a(type="button",class='bouton', href='https://twitter.com/?lang=fr') Twitter
       p.signature Site fait par Nathaniel 
         
   
