doctype html
html
  head
    include includes/head.jade
  body
    header
       .container-narrow
         .masthead
           ul(class="nav nav-pills pull-right")
             li
               a(href="/") Home
             li
               a(href="/inscription") Inscription
             li
               a(href="/Amis") Amis  
       form(id="connextion")
          p Username : 
          input(type="text" id="user_name")
          p Mot de passe :
          input(type="password" id="passw")
          input(type="submit" value="Se connecter")
       p Nouveau sur Minitwr ?
       a(type="text" href="/inscription") S'inscrire
    block content
    footer
        div Voici un lien vers : 
        a(type="button" class='bouton' href='https://twitter.com/?lang=fr') Twitter
        p.signature Site fait par Nathaniel 
         
   
