body {
  padding: 1em;
  font: 1.4em "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #94B8FF;
}

a {
  color: #0000CC;
  display : inline;
}

h1 {
color: black;
font-size : 2em;
text-align : center;
}

h2 {
color: black;
text-align : center;
}


textarea {
text-align : left;
background-color : white;
color :black;
}

header {
height : 300px;
background : url("/images/borderlands2-logo.png") no-repeat center;
border-bottom : solid ;
}

footer {
/*position : absolute ;*/
left:10px;
bottom :0px;
width:95%;
}

p.signature {
text-align : right;
}


#tweets {
background-color: #CB9A10;
border : solid ;
}
form#inscription {
float : center ;
width: 200px;
margin: 0 auto;
}

.recherche {
float: right;
}
